
body {
	margin: 0px;
	padding: 0px;
	height: 99&#37;;

	background-color: black;
	color: white;
}

textarea#setter { 
	left: -1000px;
	position: absolute;
}

.input-caret {
	position: absolute;
	cursor: pointer;
	background-color: lightgreen;
	width: 3px;
	height: 18px;
	background-color: lightgreen;
	animation: PulseAttention 2s cubic-bezier(.215, .61, .355, 1) forwards infinite;
}

@keyframes PulseAttention {
	50% {
		background-color: transparent;
	}
}

.command-caret {
	position: absolute;
	width: 12px;
	height: 12px;
	background-color: lightgreen;
	color: lightgreen;
	opacity: 0.8;
	animation: PulseAttention 2s cubic-bezier(.215, .61, .355, 1) forwards infinite;
}

#terminal {
	margin: 8px;
	cursor: text;
	height: 500px;
}

#writer {
	font-family: cursor, courier;
	font-weight: bold;
}

#getter {
	margin: 5px;
}