<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../styles/common.css"/>
	<script type="text/javascript" src="../app/terminal.js"/>
</script>
</head>
<body>
	<div id="terminal" onclick="$('setter').focus();">
		<textarea type="text" id="setter" onkeydown="window.inputHandler.writeIt(this, event);window.inputHandler.moveIt(this.value.length, event)" onkeyup="window.inputHandler.writeIt(this, event)" onkeypress="window.inputHandler.writeIt(this, event);"></textarea>
		<div id="getter">
			<span id="writer"></span><span id="cursor" class="command-caret" id="cursor"></span>
		</div>
	</div>
</body>
</html>
