<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="../styles/common.css"/>
	<script type="text/javascript" src="../app/terminal.js"/>
</script>
</head>
<body>
	<div id="terminal" onclick="$('setter').focus();">
		<textarea type="text" id="setter" onkeydown="writeit(this, event);moveIt(this.value.length, event)" onkeyup="writeit(this, event)" onkeypress="writeit(this, event);"></textarea>
		<div id="getter">
			<span id="writer"></span><b class="cursor" id="cursor">B</b>
		</div>
	</div>
</body>
</html>
